
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    color: inherit;
}


.h1, h1 {
    font-weight: 600;
}
.logologinclass {
    align-content:center;
}


.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    color: inherit;
    font-weight: 400;
}


body, p {
    font-family: 'Roboto', sans-serif;
}

.size-18 {
    font-size: 18px;
}

.panel {
    margin-bottom: 10px;
}

/**********THE 5 COLUMNS***********/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


/**********************************
BODY PAGE
**********************************/

#task-page {
    /*background-image: url('/Content/Images/bgZally.png');*/
    background-image: url('../Content/Images/bg2.PNG');
    background-size: cover;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.manager-body {
    /*min-width: 1024px;*/
    width: 125%;
    margin-top: 70px;
}

.modal-open .modal {
    overflow-x: initial;
    overflow-y: scroll;
}

/**********************************
TOP BAR
**********************************/
.navbar-inverse {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    background-color: rgba(0,0,0,.175);
    border-color: transparent;
}

i.icon-item {
    vertical-align: middle;
    text-align: center;
    background-color: goldenrod;
    padding: 10px;
    width: 50px;
    border-radius: 3px;
    text-emphasis-color: goldenrod;
    font-weight: bold;
}

.nav > li {
    position: relative;
    display: block;
    margin-left: 5px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-menu.right-menu {
    position: absolute;
    top: 130%;
    z-index: 1000;
    float: left;
    min-width: 300px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

    .dropdown-menu.right-menu.first-icon {
        top: 44px;
        left: -362px;
    }

    .dropdown-menu.right-menu.second-icon {
        left: -194px;
    }

    .dropdown-menu.right-menu.third-icon {
        left: -249px;
    }

@media (min-width: 768px) {

    .navbar {
        padding: 0px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        border-radius: 0px;
    }

    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 0px;
    }

    .nav > li.left-menu > a {
        position: relative;
        display: block;
        padding: 25px 15px 0px 0px;
        color: goldenrod;
        font-size: medium;
    }

    .icon-menu li {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}


.dropdown-menu.panel.task-menu {
    width: 500px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1027;
    background-color: #000;
}

.task-title h4.modal-title:before {
    font-family: FontAwesome;
    content: "\f067";
    margin-right: 10px;
    color: #333;
}

.notification-menu {
    position: relative;
}

.badge.badge-corner {
    top: -2px !important;
    right: 3px !important;
    position: absolute !important;
    color: #fff !important;
}

span.badge-red {
    background: #f81313 !important;
}

.badge {
    height: auto;
    font-weight: 400;
}

/**************************************
LEFT SIDE NAV
***********************************/

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: -300px;
    background-color: #e8e8e9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 10px;
}

    .sidenav.active {
        left: 0;
    }
    
.panel.project-box {
    padding: 0;
    border: 0px solid;
}

.project-name {
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    padding-top: 10px;
    text-transform: uppercase;
}

.project-profile {
    color: white;
    font-weight: 800;
    background-color: #ccc;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.add-task {
    padding-right: 0;
    float: right;
    text-align: right;
}

    .add-task a.btn {
        border-radius: 0;
    }

.project-profile.third-project {
    background-color: #E91E63;
}

.project-profile.first-project {
    background-color: #9c27b0;
}

.project-profile.second-project {
    background-color: #673ab7;
}

/*****************************
PANEL REVEAL TASK AND RESPONSABILITY
******************************/
.btn-save-add {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}


/*****************************
PANEL BODY
******************************/
.res-title {
    display: block;
    color: #333;
    font-weight: 400;
    margin-bottom: 10px;
}

.c-task-title {
    padding: 5px;
    background-color: #5bc0de;
    display: block;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 3px;
}

.res-box:hover {
    background-color: #efefef;
    cursor: pointer;
}

.panel-default.task-column > .panel-heading {
    font-weight: 800;
    color: #000;
    background-color: #f5f5f5;
    border-color: transparent;
}

.panel-default.task-column > .panel-body {
    padding: 8px;
    background-color: #f5f5f5;
}

.panel-body.res-box {
    padding: 8px;
}

span.due-date-sticker {
    font-weight: 400;
    padding: 3px;
    background-color: #eee;
    margin-right: 10px;
}

span.completed-date-sticker {
    font-weight: 600;
    padding: 3px;
    background-color: transparent;
    margin-right: 10px;
    color: #5bc0de;
    border-bottom: 2px solid #5bc0de;
}

.completed {
    color: #5bc0de;
}

.res-box.compltd:hover {
    background-color: transparent;
}

.yellow-sticker {
    background-color: #ffff99 !important;
    color: #000;
}

.green-sticker {
    background-color: #b3ffb3 !important;
    color: #000;
}

.orange-sticker {
    background-color: #ffd280 !important;
    color: #000;
}

.red-sticker {
    background-color: #ffb3b3 !important;
    color: #000;
}

.grey-sticker {
    background-color: #f9f9f9 !important;
    color: #000;
}

.notification {
    padding-left: 0;
    padding-right: 0;
}

    .notification hr {
        margin-bottom: 5px;
        margin-top: 0;
        display: inline-block;
    }

.hr-line-green {
    border-top: 3px solid #13af31;
    width: 25%;
}

.hr-line-yellow {
    border-top: 3px solid #ead62b;
    width: 40%;
}

.hr-line-orange {
    border-top: 3px solid #f59307;
    width: 65%;
}

.hr-line-grey {
    border-top: 3px solid #bfbfbf;
    width: 45%;
}

.hr-line-red {
    border-top: 3px solid #e91919;
    width: 80%;
}

.dropdown-menu.calendar-picker, .dropdown-menu.member-picker {
    top: inherit;
}

label.title-content span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}





.member-list-add ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.member-list-add.task-list ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task-list {
    padding: 0;
}



.member-list-add li {
    margin: 0 0 0 5px;
    display: block;
    float: left;
}

    .member-list-add li > a > img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid #eee;
    }

    .member-list-add li > a > i {
        color: #fff;
        background-color: #1780c8;
        font-size: 18px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid #eee;
        text-align: center;
        vertical-align: middle;
        padding: 8px;
    }

.modal-content {
    position: relative;
    background-color: #f3f3f3;
}

.modal-title:before {
    font-family: FontAwesome;
    content: "\f0ae";
    margin-right: 10px;
    color: #989898;
}

.modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}


.panel-heading.add-list {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #b1afaf;
    margin-bottom: 10px;
}

.inside-box {
    margin-top: 15px;
}

.btn-send {
    margin-bottom: 15px;
}

.add-list.btn-send {
    max-width: 75px;
}

ul.modal-add-list {
    list-style: none;
    padding-left: 0;
}

.modal-add-list li {
    margin-bottom: 5px;
}

.modal-add-list .btn {
    width: 100%;
}

.btn-add-list i {
    margin-right: 5px;
}

.btn-add-list {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    color: #757575;
    background-color: #fff;
    border-color: #cecccc;
}

    .btn-add-list:hover {
        color: #fff;
        background-color: goldenrod;
        border-color: white;
    }

.form-control .descrip {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ecebeb;
    border-radius: 4px;
    -webkit-box-shadow: 8px 9px 8px -9px rgba(0,0,0,0.56);
    -moz-box-shadow: 8px 9px 8px -9px rgba(0,0,0,0.56);
    box-shadow: 8px 9px 8px -9px rgba(0,0,0,0.56);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dropdown-menu.panel {
    position: absolute;
    top: inherit;
    left: 14px;
    z-index: 1000;
    float: left;
    min-width: 240px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu.dates.panel {
    top: 72%;
}

.table-style .today {
    background: #2A3F54;
    color: #ffffff;
}

.table-style th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}

.table-style th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}

.table-style tr:first-child th {
    background-color: #F6F6F6;
    text-align: center;
    font-size: 15px;
}



.left-inside .form-group {
    margin-bottom: 20px;
}

.add-check {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

span.list-check {
    display: block;
    margin-bottom: 5px;
}

.add-check > .checkbox + .checkbox {
    margin-top: -10px;
}

.add-check input[type="checkbox"] {
    margin: 4px -20px 0;
    width: 15px;
    height: 15px;
}

input[type="checkbox"]#checkbox1:checked + span {
    text-decoration: line-through;
}

input:checked {
    background-color: #c14;
}


.task-activity {
    margin-right: 0;
    margin-top: 15px;
    margin-left: 0;
}

.btn-task {
    margin-bottom: 15px;
}

/************************
ACTIVITIES
************************/

.activity-profile {
    padding-right: 0px;
}

.member-activity .row {
    margin-left: 0;
    margin-right: 0;
}


ul.member-activity {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.member-activity img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #eee;
}

.comment-box {
    position: relative;
    padding: 0;
}

    .comment-box:after, .comment-box:before {
        right: 100%;
        top: 15px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .comment-box:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #ddd;
        border-width: 10px;
        margin-top: -10px;
    }

    .comment-box:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #ddd;
        border-width: 10px;
        margin-top: -10px;
    }


ul.comment {
    margin-top: 15px;
    margin-bottom: 30px;
}

li.comment {
    background-color: #fff;
    padding: 12px;
    position: relative;
    margin-bottom: 25px;
    font-size: 13px;
}

    li.comment img.avatar {
        border-radius: 50%;
        position: absolute;
        left: 7px;
        top: 7px;
        display: inline-block;
        vertical-align: middle;
    }

    li.comment .comment-body {
        position: relative;
        padding-left: 60px;
    }

    li.comment a.comment-author {
        margin-bottom: 6px;
        display: block;
    }

        li.comment a.comment-author span {
            font-size: 15px;
        }

div.tabs div.tab-content p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

li.comment p {
    margin: 0;
    padding: 0;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.size-11 {
    font-size: 11px !important;
    line-height: 15px !important;
}

.text-info {
    color: #28a4c9 !important;
}

li.comment.comment-reply {
    border-radius: 5px;
    margin-left: 60px;
    background-color: #ebebf5;
    padding: 6px;
    margin-bottom: 6px;
}

    li.comment.comment-reply img.avatar {
        left: 6px;
        top: 6px;
    }



/*****************************
=============COMPLETED TASK PANEL=========
******************************/

.inside-box.completed-task-modal {
    padding-left: 25px;
    padding-right: 25px;
}


/*****************************
=============ALERT AND NOTIFICATION PANEL=========
******************************/

.alert-note ul.comment {
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert-note > ul > li.comment {
    margin-bottom: 5px;
}

.comment-author h5 {
    margin-top: 0;
    color: #13af31;
    text-transform: uppercase;
}

.res-box.alert-note:hover {
    background-color: transparent;
    cursor: pointer;
}

.task-notification {
    border: 2px solid #13af31;
}

.comment-notification {
    border: 2px solid #5bc0de;
}



/******************************** Css for the auto complete drop down******************************************/

div.auto-complete-container {
	border: 1px solid goldenrod;
	background-color: #cccccc;
	white-space: nowrap;
}

div.auto-complete-absolute-container {
	position: absolute;
	z-index: 10000;
}

div.auto-complete-container ul.auto-complete-results {
	overflow-x: scroll; /*hidden*/
	overflow-y: auto;
	margin: 0px;
	padding: 0px;
}

div.auto-complete-container ul.auto-complete-results li.auto-complete-item {
		list-style-type: none;
		padding: 8px 5px;     
		background-color: #efefef;      
		cursor: pointer;
		font-weight: bold;
	}

	div.auto-complete-container ul.auto-complete-results li:not(:first-child) {
		margin-top: 1px;
	}

	div.auto-complete-container ul.auto-complete-results li.auto-complete-item:hover {
		background-color: #6699FF;
		color: White;
	}

	div.auto-complete-container ul.auto-complete-results li.auto-complete-item-selected {
		background-color: #6699FF;
		color: White;
	}


div.auto-complete-container table.auto-complete {
	width: 100%;
	border-collapse: collapse;
	margin: 0px;
	border-width: 0px;
	border-style: none;
}

	div.auto-complete-container table.auto-complete tr {
		white-space: nowrap;
		text-align: left;
	}

	div.auto-complete-container table.auto-complete tbody tr > td {
		padding: 0px;
		background-color: transparent;
		border-width: 0px;
	}

/******************************** Css for the auto complete drop down End******************************************/


/*Manuella Css*************************************************************************************************/
    .equipment-green {
    border: 2px solid #b3ffb3;
}
.equipment-yellow {
    border: 2px solid #ffff99;
}
.equipment-red {
    border: 2px solid #ffb3b3;
}
.equipment-orange {
    border: 2px solid #F2BE80;
}
/*Manuella Css End ******************************************************************************************/

.squarepanel{
    border-radius : 0;
}


.logoclass{
   height:50px;
   width:180px;
   padding-right:30px;
   margin-left:10px;
   margin-bottom:2px
}

.task-btn{
   background-color:goldenrod;
   border-color: goldenrod
}



.btn-info {
  color: white;
  background-color: goldenrod;
  border-color: goldenrod;
}
.btn-info:focus,
.btn-info.focus {
  color: white;
  background-color: goldenrod;
  border-color: goldenrod;
}
.btn-info:hover {
  color: white;
  background-color: goldenrod;
  border-color: white;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: white;
  background-color: goldenrod;
  border-color: goldenrod;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: white;
  background-color: goldenrod;
  border-color: white;
}

@include media-breakpoint-up(sm) {
    .logContainer {
        display: block;
    }
}