<!-- LEFT SIDE MENU REVEAL
    ============================================= -->


<div id="mySidenav" class="sidenav">

    <div class="col-md-12 form-group">

        <form class="" action="" method="post" novalidate="novalidate">
            <div class="input-group">

                <input type="search" id="search" name="search" class="form-control" placeholder="Search here">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <input type="hidden" name="" value="true">
        </form>

    </div>

    <div class="col-xs-12 project-list">
        <ul class="list-unstyled">
            <li>
                <div class="panel col-xs-12 project-box">
                    <div class="col-xs-3 project-profile first-project">P1</div>
                    <div class="col-xs-6 project-name"><span>Project name</span></div>
                    <div class="col-xs-3 add-task"><a class="btn btn-success" data-toggle="modal" data-target="#addTask1" href="#"><i class="fa fa-plus"></i></a></div>
                </div>
            </li>

            <li>
                <div class="panel col-xs-12 project-box">
                    <div class="col-xs-3 project-profile second-project">P2</div>
                    <div class="col-xs-6 project-name"><span>Project name</span></div>
                    <div class="col-xs-3 add-task"><a class="btn btn-success" data-toggle="modal" data-target="#addTask1" href="#"><i class="fa fa-plus"></i></a></div>
                </div>
            </li>

            <li>
                <div class="panel col-xs-12 project-box">
                    <div class="col-xs-3 project-profile third-project">P3</div>
                    <div class="col-xs-6 project-name"><span>Project name</span></div>
                    <div class="col-xs-3 add-task"><a class="btn btn-success" data-toggle="modal" data-target="#addTask1" href="#"><i class="fa fa-plus"></i></a></div>
                </div>
            </li>

        </ul>
    </div>
</div>



<!-- END LEFT SIDE MENU REVEAL
    ============================================= -->
 
