<div class="panel panel-default squarepanel" ng-cloak ng-click="CompletedDetails(task.TASK_ID)">
    <div class="panel-body res-box compltd" data-toggle="modal" data-target="#myModal2">
        <span class="c-task-title">{{task.TASK_Name}}</span>
        <div class="col-md-12 row">

            <span class="completed-date-sticker">
                <i class="fa fa-clock-o" aria-hidden="true"></i>{{task.TASK_ExpectedEndDate}}
            </span>

            <span class="completed">
                <i class="fa fa-comments-o" aria-hidden="true"></i> {{task.TASK_NumberOfComments}}
            </span>
            &nbsp;&nbsp;
            <i class="fa fa-user" aria-hidden="true"></i> {{task.TASK_NumberOfUsersAssigned}}
        </div>
    </div>
</div>