@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Oops! Something went wrong on the server. we apologise for the inconvenient.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2>If you were trying to log in, Please try the folling.</h2>
<ul>
    <li> please make sure you log out before relogin. </li>
    <li> avoid login on multiple devices at the same time. </li>
    <li>Reload your web page.</li>
</ul>
<h2> If the Problem persits, please contact the System Admin. </h2>


